<h1>Search for friends</h1>
<form action="search" method="get">
  <input class="form-control" type="text" name="search" placeholder="Enter friend's name">
  <br>
  <input class="btn btn-primary" type="submit" value="submit" >
</form>

<br>

<% if @results %>
  <div class="card-columns">
    <% @results.each do |friend| %>
        <div class="card col-5">
          <div class="card-body">
            <%= image_tag friend.avatar.url, size:"50x50", class: "mr-2 rounded-circle center"%>
              <%= "#{friend.firstname} #{friend.lastname}" %>
              <form id="addFriend"  action="create" method="post">
                <%= token_tag %>
                <input type="hidden" name="friend_id" value="<%= friend.id %>">
               </form>
          </div>
          <input form="addFriend" type="submit" value="Add Friend " class="btn btn-info mb-3" >
        </div>
    <% end %>
  </div>
<% end %>
